################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/