<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
   
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICRMRepository">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64080/crm" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ICRMRepository" contract="CrmRepositoryService.ICRMRepository"
                name="WSDualHttpBinding_ICRMRepository" />
        </client>
    </system.serviceModel>
</configuration>