<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICRMRepositorySAL">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64080/crm" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ICRMRepositorySAL" contract="CrmRepositoryClient.ICRMRepositorySAL"
                name="WSDualHttpBinding_ICRMRepositorySAL" />
        </client>
    </system.serviceModel>
</configuration>